.first{
  background-color:#E4F9F5;
  margin: 0;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.ts{
  position: absolute;
  right: 300px;
  top: 40px;
}
.s{position: absolute;
left: 250px;
bottom: 300;
 
}

body{font-family:'Merriweather';
  color: #40514E;
  text-align: center;
 
}

h1{ line-height: 2;
  font-size: 5.635rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento';
color:#66BFBF;
}

h2{ font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
color: #66BFBF;
padding-bottom: 10px;
}
h3{ color: #11999e;
  font-family: 'Montserrat';
}

.middle-container{
  
  margin: 0;
  text-align: center;
  position: relative;
  padding-top: 100px;
  
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  
}

.ug{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.lg{
  width: 25%;
  float: right;
  margin: 30px;
}

.me{
  width: 30%;
  margin: auto;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
 
}

.contact-message{
  width: 40%;
  margin: 40px auto 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat' ,Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
   background-color: #66BFBF;
   position: relative;
  padding:50px 0 30px;

 
 
 
}

a{
  color: #11999E;
  font-family: 'Montserrat,sans-serif';
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6

}
   
.ok{
  color:#EAF6F6;
  font-size: 0.7;
  padding: 20px 0;
}